<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi! I’m Charles or hatry4, and I’m a stack developer who has feature to be a professional full stack developer. | Devhatry4, Hatry4 Offical Website">
    <meta name="keywords" content="hatry4, Devhatry4, Programming, Developer, Html, Css, JavaScript, Student, Gamer">
    <link href="https://use.fontawesome.com/releases/v5.15/css/all.css">
    <!-- title of the browser tab -->
    <title>Hatry4</title>

    <!-- favicon -->
    <link rel="icon" href="./assets/images/logo.ico">

    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Saira+Stencil+One&text=Nafie&display=swap">

    <!-- css libraries file -->
    <link rel="stylesheet" href="styles/libraries.min.css">

    <!-- main style file -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="app">
        <div id="app-inner" ref="appRef" :class="[savedTheme, {'enable-focus-style': isAnyFocus}]" @click="isAnyFocus = false" @keyup.tab="isAnyFocus = true">

            <div class="circle-cursor circle-cursor-outer" ref="circleCursorOuter"></div>
            <div class="circle-cursor circle-cursor-inner" ref="circleCursorInner"></div>

            <!-- start preloader-->
            <transition name="preloader">
                <div class="preloader" v-if="isPreloading">
                    <div class="circle">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </transition>
            <!-- end preloader-->

            <!-- start of header -->
            <header :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }">
                <div class="container">
                    <!-- logo -->
                    <div class="logo" title="Hatry4">
                        <h1><a href="index.html">Hatry4</a></h1>
                    </div>

                    <!-- nav links -->
                    <nav :class="{'menu-open': isNavMenuOpen}" ref="headerNav">

                        <!-- nav menu links -->
                        <ul class="nav-links">
                            <li v-for="link in navLinks" :key="link.url">
                                <a :href="link.url" @click="closeNavMenu">
                    {{ link.title.en }}
                  </a>
                            </li>
                        </ul>

                        <!-- menu content in big devices (hidden in mobile/tablet) --> 
                        <div class="desktop-menu-content" tabindex="-1">
                            <div class="container">

                                <!-- about us -->
                                <div class="about-us">
                                    <p>
                                        Hi! I’m Charles or hatry4, and I’m a discord bot developer and website developer who has feature to be a professional full stack developer and I enjoying to code like JavaScript, Html, Css, and more. I’m always trying learn new language, tools, and skills. And i’m still looking for Developer Team. Fun fact I play games and go to the School Always.
                                    </p>
                                </div>

                                <!-- contact info -->
                                <ul class="contact-info row">
                                    <li class="col-lg-4">
                                        <h4 class="block-title">Email</h4>
                                        <ul>
                                          <li><a href="mailto:cm122927@gmail.com">cm122927@gmail.com</a></li>
                                            <li><a href="mailto:hatry4@gmail.com">hatry4@gmail.com</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-4">
                                        <h4 class="block-title">Location</h4>
                                        <ul>
                                            <li>
                                                Asia/Manila | Philippines
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-4">
                                        <h4 class="block-title">Discord</h4>
                                        <ul>
                                            <li><a href="https://discord.gg/2x3HCgg4d9" class="ltr-dir">Light Devs™</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <!-- options icons -->
                    <ul class="options-icons">

                        <!-- lang switcher button -->
                        <li class="lang-switcher">
                            <a href="#" title="">
                  <img src="assets/images/langs/ar.png" alt="">
                </a>
                        </li>

                        <!-- theme switcher button -->
                        <li class="theme-switcher">
                            <button :class="savedTheme" title="Change Mode" @click="changeAppTheme"></button>
                        </li>

                        <!-- hamburger button -->
                        <li class="hamburger-btn" :class="{'open': isNavMenuOpen}">
                            <button @click="toggleNavMenu" title="Toggle Side Menu" aria-label="Toggle Side Menu" ref="navMenuToggleBtn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
                        </li>
                    </ul>
                </div>
            </header>
            <!-- end of header -->

            <!-- start of hero section -->
            <div id="home" class="hero-section" ref="heroSection" data-paneffect="true">
                <div class="hero-img">
                    <div class="layer" v-clone>
                        <img src="./assets/images/home-img.png">
                    </div>
                </div>

                <div class="hero-text">
                    <h2>
                        May the code be with you
                    </h2>
                    <a href="https://buymeacoffee.com/Devhatry4" class="btn"><img src="assets/images/icons/coffee.png"/> Buy me a Coffe</a>
                </div>

                <div class="social">
                    <ul>
                        <li>
                            <a href="https://facebook.com/charles.marcelo.devhatry4" target="_blank" rel="noreferrer" v-tooltip="{text: 'Facebook', dir: 'right'}">
                  <img src="assets/images/icons/social/facebook.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/hatry41" target="_blank" rel="noreferrer" v-tooltip="{text: 'Twitter', dir: 'right'}">
                  <img src="assets/images/icons/social/twitter.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@hatry4qt" target="_blank" rel="noreferrer" v-tooltip="{text: 'Tiktok', dir: 'right'}">
                  <img src="assets/images/icons/social/tiktok.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://github.com/hatry4" target="_blank" rel="noreferrer" v-tooltip="{text: 'Github', dir: 'right'}">
                  <img src="assets/images/icons/social/github.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/charles.hatry4qt" target="_blank" rel="noreferrer" v-tooltip="{text: 'Instagram', dir: 'right'}">
                  <img src="assets/images/icons/social/instagram.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://pinterest.com/hatry4qt" target="_blank" rel="noreferrer" v-tooltip="{text: 'Pinterest', dir: 'right'}">
                  <img src="assets/images/icons/social/pinterest.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://twitch.com/chatry4" target="_blank" rel="noreferrer" v-tooltip="{text: 'Twitch', dir: 'right'}">
                  <img src="assets/images/icons/social/twitch.png" width="30" height="30"/>
                </a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/user/hatry4" target="_blank" rel="noreferrer" v-tooltip="{text: 'Reddit', dir: 'right'}">
                  <img src="assets/images/icons/social/reddit.png" width="30" height="30"/>
                </a>
                        </li>
                    </ul>
                        </li>
                </div>
            </div>
            <!-- end of hero section -->

               <!-- start of statistics section -->
            <div id="statistics" class="statistics-section section">
                <div class="section-content">
                    <div class="container">
                        <ul class="statistics-items row">
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#experience">
                                    <div class="icon">
                                        <img src="assets/images/icons/emblem.png" alt="Years of Experience">
                                    </div>
                                    <div class="text">
                                        <h3>1</h3>
                                        <strong>Year of Experience</strong>
                                    </div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="https://github.com/hatry4?tab=repositories">
                                    <div class="icon">
                                        <img src="assets/images/icons/check-mark.png" alt="Completed Projects">
                                    </div>
                                    <div class="text">
                                        <h3>12+</h3>
                                        <strong>Completed Works</strong>
                                    </div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#">
                                    <div class="icon">
                                        <img src="assets/images/icons/happy.png" alt="Followers">
                                    </div>
                                    <div class="text">
                                        <h3>550+</h3>
                                        <strong>Followers</strong>
                                    </div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of statistics section -->

            <!-- start of about section -->
            <div id="about" class="about-section section" tabindex="-1">
                <div class="container">
                    <div class="section-content row">

                        <!-- about image -->
                        <div class="about-img col-lg-6">
                            <div class="layer" v-clone>
                                <img src="assets/images/aboutme.png" alt="User Name"/>
                            </div>
                        </div>

                        <!-- text box -->
                        <div class="about-text col-lg-6">
                            <div class="text-box-inline">
                                <span class="subtitle">about me</span>
                                <h2>
                                    Need a Developer
                                    <br> I can Help You!
                                </h2>
                                <p>
                                    Hi! I’m Charles or hatry4, and I’m a Developer, Gamer and Student who has feature to be a professional full stack developer and I enjoying to code like JavaScript, Html, Css, and more. I’m always trying learn new language, tools,
                                    and skills. And i’m still looking for Developer Team. Fun fact I play games and go to the School Always
                                </p>
                                <div class="btns-container">
                                    <a href="#contact" class="btn btn-primary"><img src="assets/images/icons/hire-me.png"/> Hire Me</a>
                                    <a href="https://paypal.me/hatry4" class="btn btn-outline-light"><img src="assets/images/icons/donate.png"/> Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of about section -->

            <!-- start of skills section -->
            <div id="skills" class="skills-section section" tabindex="-1">
                <div class="container">
                    <div class="section-content row">

                        <!-- text box -->
                        <div class="skills-text col-lg-6">
                            <div class="text-box-inline">
                                <span class="subtitle">my skills</span>
                                <h2>
                                    What My Programming
                                    <br> Languge Skills and Tools?
                                </h2>
                                <p>
                                    I develop simple, usable things and responsive things that can help you, i tottaly love programming. Here my languge and tools that i use to.
                                </p>
                                <div ref="skillsSwitchBtn" class="toggle-switch-btn">
                                    <input id="skills-list" type="radio" value="skills" v-model="skillsType" checked>
                                    <label for="skills-list" class="link-hover">Skills</label>
                                    <input id="tools-list" type="radio" value="tools" v-model="skillsType">
                                    <label for="tools-list" class="link-hover">Tools</label>
                                    <span class="switcher-toggle" style="width: calc((100% - 8px) / 2);"></span>
                                </div>
                            </div>
                        </div>
                        <!-- skills items -->
                        <div class="skills-items col-lg-6">

                            <!-- skills list -->
                            <ul v-staggerdelay="50" v-show="skillsType === 'skills'">
                                <li tabindex="0" v-for="skill in skillsItems" :key="skill.title" v-tooltip="{text: skill.title, dir: 'top'}">
                                    <div class="skill-icon">
                                        <img :src="skill.imgUrl" :alt="skill.title">
                                    </div>
                                </li>
                            </ul>

                            <!-- tools list -->
                            <ul v-staggerdelay="50" v-show="skillsType === 'tools'">
                                <li tabindex="0" v-for="tool in toolsItems" :key="tool.title" v-tooltip="{text: tool.title, dir: 'top'}">
                                    <div class="skill-icon">
                                        <img :src="tool.imgUrl" :alt="tool.title">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of skills section -->
            
<!-- start of grap section -->
    <section class="grap" id="grap">
        <div class="max-width">
          <div class="container">
            <div class="grap-content">
                <div class="column left">
                    <div class="text"></div>
                </div>
                <div class="column right">
                  <p align="left">
                    <div class="grap">
                        <div class="info">
                            <span><img src="./assets/images/skills/languages/javascript.png" width="30">| JavaScript</span>
                            <span>85%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="grap">
                        <div class="info">
                            <span><img src="./assets/images/skills/languages/html.png" width="30">| HTML</span>
                            <span>69%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="grap">
                        <div class="info">
                            <span><img src="./assets/images/skills/languages/css.png" width="30">| CSS</span>
                            <span>52%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="grap">
                        <div class="info">
                            <span><img src="./assets/images/skills/languages/typescript.png" width="30">| TypeScript</span>
                            <span>48%</span>
                        </div>
                        <div class="line ts"></div>
                    </div>
                    <div class="grap">
                        <div class="info">
                            <span><img src="./assets/images/skills/languages/yaml.png" width="30">| Yaml</span>
                            <span>15%</span>
                        </div>
                        <div class="line yaml"></div>
                    <div class="grap">
                        <div class="info">
                            <span><img src="./assets/images/skills/languages/python.png" width="30">| Python</span>
                            <span>7%</span>
                        </div>
                        <div class="line py"></div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
            <!-- end of grap section -->

            <!-- start of experience section -->
            <div id="experience" class="experience-section section" tabindex="-1">
                <div class="container">
                    <div class="section-content row">

                        <!-- timeline -->
                        <div class="experience-timeline col-lg-6">
                            <ul class="outer-ul">
                                <li class="outer-li" v-for="(group, index) in experienceChunks" :key="index">
                                    <ul class="inner-ul">
                                        <li class="has-ultimate-tooltip" tabindex="1" v-for="item in group">
                                            <template v-if="Object.keys(item).length > 0">
                          <h3>{{ item.date }}</h3>
                          <div class="ultimate-tooltip">
                            <h4 class="ultimate-tooltip-title">{{ item.companyName.en }}</h4>
                            <h5 class="ultimate-tooltip-subtitle">{{ item.jobTitle.en }}</h5>
                            <p>{{ item.desc.en }}</p>
                          </div>
                          <div class="ultimate-tooltip-arrow"></div>
                        </template>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- text box -->
                        <div class="experience-text col-lg-6">
                            <div class="text-box-inline">
                                <span class="subtitle">experience</span>
                                <h2>
                                    11+ Months of Experience
                                    <br> With Many Experiences!
                                </h2>
                                <p>
                                    I have been developing websites and discord bot for 11 months and i know for sure that i can reach full stack developer, I have been a learner and a reliable developer partner for projects. You will get a decent
                                    result as you expect.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of experience section -->
     
            <!-- start of contact section -->
            <div id="contact" class="contact-section section" tabindex="-1">
                <div class="container">
                    <div class="section-content row">

                        <!-- text box -->
                        <div class="contact-text col-lg-6">
                            <div class="text-box-inline">
                                <span class="subtitle">contact</span>
                                <h2>
                                    You Have Any Project That Have Trouble Shoot?
                                    <br> 
                                </h2>
                                <p>
                                    Get in touch and let me know how i can help. Copy the example form behind and i’ll be in touch as soon as possible by email.
                                </p>
                            </div>

                            <!-- contact info -->
                            <ul class="contact-info">
                                <li>
                                    <img src="assets/images/icons/location.png" alt="Location">
                                    <div>
                                        <strong>Location:</strong> Asia/Manila | Philippines
                                    </div>
                                </li>
                                <li>
                                    <img src="https://img.icons8.com/material/100/000000/discord-logo--v1.png" alt="Phone">
                                    <div>
                                        <strong>Discord:</strong>
                                        <ul>
                                            <li><a href="https://discord.gg/2x3HCgg4d9" class="ltr-dir">Light Devs™</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <img src="assets/images/icons/email.png" alt="Email">
                                    <div>
                                        <strong>Email:</strong>
                                        <ul>
                                            <li><a href="mailto:cm122927@gmail.com">cm122927@gmail.com</a></li>
                                            <li><a href="mailto:hatry4@gmail.com">hatry4@gmail.com</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="spaces">
                                <li>
                                    
                                </li>
                            </ul>
                        </div>

                        <!-- contact form -->
                        <div class="col-lg-6">
                            <form ref="contactForm" class="contact-form form-styled" action="contact_form.php" data-success-msg="Message sent successfully!" data-err-msg="Oops! something went wrong, please try again.">
                                <div class="group">
                                    <label>Name</label>
                                    <div class="control has-prefix-icon">
                                        <input type="text" name="name" placeholder="Name" minlength="3" required>
                                        <i class="fa fa-user-circle prefix-icon" aria-hidden="true"></i>

                                        <!-- validation errors messages -->
                                        <div class="errors-msgs">
                                            <input class="required" type="hidden" value="Name is required">
                                            <input class="minLength" type="hidden" value="Name must be at least 3 characters">
                                        </div>
                                    </div>
                                </div>
                                <div class="group">
                                    <label>Email</label>
                                    <div class="control has-prefix-icon">
                                        <input class="ltr-dir" type="email" inputmode="email" name="email" placeholder="Ex. Email@email.com" required>
                                        <i class="fa fa-envelope prefix-icon" aria-hidden="true"></i>

                                        <!-- validation errors messages -->
                                        <div class="errors-msgs">
                                            <input class="required" type="hidden" value="Email is required">
                                            <input class="invalid" type="hidden" value="Please enter a valid email address">
                                        </div>
                                    </div>
                                </div>
                                <div class="group phone-number">
                                    <label>Phone <span class="optional">(Optional)</span></label>
                                    <div class="control has-prefix-icon">
                                        <input type="tel" inputmode="tel" name="phone" placeholder="Phone Number">
                                        <i class="fa fa-phone prefix-icon" aria-hidden="true"></i>

                                        <!-- validation errors messages -->
                                        <div class="errors-msgs">
                                            <input class="invalid" type="hidden" value="Please enter a valid Phone Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="group">
                                    <label>Message</label>
                                    <div class="control has-prefix-icon">
                                        <textarea name="message" placeholder="Write message..." required></textarea>
                                        <i class="fa fa-comments prefix-icon" aria-hidden="true"></i>

                                        <!-- validation errors messages -->
                                        <div class="errors-msgs">
                                            <input class="required" type="hidden" value="Message is required">
                                        </div>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="control">
                      <a href="" target="_blank" rel="noreferrer" v-tooltip="{text: 'Ex. Email cm122927@gmail.com with your topic. ', dir: 'buttom'}">
                      <i class="fa fa-question" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of contact section -->

            <!-- start of footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- logo -->
                            <div class="logo" title="Devhatry4">
                                <h1><a href="index.html">Devhatry4</a></h1>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            &copy; Created by
                            <a href="https://github.com/hatry4" target="_blank" rel="noopener">Devhatry4</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end of footer -->

            <!-- scroll to top button -->
            <button ref="scrollTopBtn" :class="['scroll-to-top', isScrollTopBtnDisplayed && 'show-scrollTop']" title="Back To Top" tabindex="0" @click="scrollToTop">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>

            <!-- toast notifications -->
            <ul class="notifications-container">
                <transition-group name="notify">
                    <li v-for="notify of notifications" :key="notify.id" :id="notify.id" :class="['notification', 'show', notify.className, notify.time && 'timer']">
                        {{ notify.msg }}
                        <i class="fa fa-times link-hover" aria-hidden="true" @click="dismissNotify(notify.id)"></i>
                        <span v-if="notify.time" class="disappearing-time" :style="{ 'animation-duration': notify.time + 'ms' }"></span>
                    </li>
                </transition-group>
            </ul>

            <!-- ajax loading -->
            <div v-show="isAjaxLoading" class="ajax-loading">
                <span></span>
            </div>
        </div>
    </div>

    <!-- js plugins file -->
    <script src="scripts/plugins.min.js"></script>

    <!-- main script file -->
    <script src="scripts/main.js"></script>

    <!-- script script file -->
    <script src="scripts/script.js"></script>
    
</body>

</html>
